
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Book Detail</h1>
    
    <div>
        <h2>{{ book.title }}</h2>
        <p>Author: {{ book.author }}</p>
        <p>Published on: {{ book.published_date }}</p>
        <p>Description: {{ book.description }}</p>
    </div>

    <a href="{% url 'book_list' %}">Back to Book List</a>

    <h1> Update Book : {{book.title}} </h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type = 'submit' > Save changes </button>
    </form>
    <a href = "{% url 'book_detail' pk=book.pk}" >Cancel</a>
    
</body>
</html>